/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
@import "./_scss/_variables.scss";
html,
*,
body {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

a {
  color: white;
}

app-login {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  background: $primary-color;
  height: 100%;
  box-shadow: $shadow-lvl2;
  h2 {
    margin-top: 100px;
    text-align: center;
    color: white;
    text-transform: uppercase;
  }
  .loginForm {
    box-shadow: $shadow-lvl2;
  }
}

app-register {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  background: $secondary-color;
  height: 100%;
  box-shadow: $shadow-lvl2;
  transition: 0.3s ease-in-out;
  &:hover {
    width: 52%;
    transition: 0.3s ease-in-out;
  }
  h2 {
    margin-top: 100px;
    text-align: center;
    color: white;
    text-transform: uppercase;
  }
  .registerForm {
    box-shadow: $shadow-lvl2;
  }
}

.hiddenForm {
  display: none !important;
}

app-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  app-my-requests {
    border: 1px solid black;
    grid-row: 1;
    li.elerequest {
      margin: 10px;
      border-bottom: 1px solid;
      list-style-type: circle;
      padding: 10px 0;
    }
  }
  app-aside-menu {
    border: 1px solid black;
    position: absolute;
    top: 75px;
    right: 0;
  }
}

@media screen and (max-width: 800px) {
  app-register {
    position: relative;
    width: 100%;
  }
  app-login {
    position: relative;
    width: 100%;
  }
}
