@import "../../../_scss/_variables.scss";

nav {
  background:$primary-color;
  color:white;
  padding:0 20px;
  height:80px;
  line-height:80px;
  h1 {
    margin:0;
    float:left;
    font-size:2rem;
  }
  img {
    width:80px;
    float:left;
    margin-right:10px;
    margin-top:17px;
  }
  .menu {
    float:right;
    .mat-icon {
      font-size:2rem;
    }
    .notifs {
      background:white;
      border-radius:50%;
      padding:0.5rem;
      color:$primary-color;
      position:absolute;
    }
    &-user {
      float:right;
      width:200px;
      margin-left:20px;
      height:80px;
      background: darken($primary-color, 2%);
      font-size:1rem;
      .option{
        background: none;
        box-shadow: none;
        width:200px;
        height:70px;
      }
      .mat-icon-button {
        padding: 0 20px;
        width:200px;
        height:85px;
        font-size:1.2rem;
      }
      img {
        width:50px;
        margin-right:10px;
        margin-top:-5px;
      }
      .mat-icon {
        margin-right:10px;
      }
    }
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

