<nav>
      <img src="../assets/img/logowhite.png" alt="logo"><h1>Anthill</h1>
      <div class="menu">
        <button mat-icon-button [matMenuTriggerFor]="requestMenu">
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="notifsMenu">
          <mat-icon>note_add</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <!-- <span class="notifs">4</span> -->
        <mat-menu #requestMenu="matMenu">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Help</button>
        </mat-menu>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Help</button>
        </mat-menu>
        <mat-menu #notifsMenu="matMenu">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item>Help</button>
        </mat-menu>

      </div>


</nav>
