<div>
    <mat-toolbar class="toolbarItem"><mat-icon>account_box</mat-icon><br><br>
      <span>My profile</span>
    </mat-toolbar>
    <mat-toolbar class="toolbarItem"><mat-icon>work</mat-icon><br><br>
      <span>My Pro-Page</span>
    </mat-toolbar>
    <mat-toolbar class="toolbarItem"><mat-icon>search</mat-icon><br><br>
      <span>Search for a Pro</span>
    </mat-toolbar>
    <!-- <mat-card>Complete/Edit your profile</mat-card>
    <mat-card>Create your Pro Page</mat-card>
    <mat-card>Search for a Pro</mat-card> -->
</div>
