<h2>Login</h2>


<form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
  <mat-form-field class="example-full-width">
    <mat-icon>email</mat-icon>
    <input matInput type="email" class="form-control" formControlName="email" placeholder="Email" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-icon>lock</mat-icon>
    <input matInput type="password" class="form-control" formControlName="password" placeholder="Password" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" name="action">Connexion</button>
  <mat-error *ngIf="msg"> {{msg}} </mat-error>
  <a class="forgotPassword">Forgot your password ?</a>

</form>


<div class="dialogReset hiddenForm">

  <form class="box_dialog" action="POST">
    <button class="closeReset">
      <mat-icon>close</mat-icon>
    </button>
    <h3>SEND RESET PASSWORD EMAIL</h3>

    <button mat-raised-button type="submit" name="action">Send Email</button>

  </form>
</div>
