<app-menu></app-menu>
<div>
  <form class="proForm" [formGroup]="proForm" (ngSubmit)="onSubmit(proForm.value)">
    <div class="formBlock">
      <h1>Professional informations</h1>
      
      <mat-form-field class="example-full-width">      
        <input matInput type="text" class="form-control" formControlName="companyName" placeholder="Company Name" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">      
        <input matInput type="text" class="form-control" formControlName="vat" placeholder="VAT" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">      
        <input matInput type="text" class="form-control" formControlName="sectors" placeholder="Business Sector" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">      
        <input matInput type="text" class="form-control" formControlName="activities" placeholder="Activity Description" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">      
        <input matInput type="text" class="form-control" formControlName="activityZone" placeholder="Activity Zone (km)" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">      
          <input matInput type="text" class="form-control" formControlName="webSite" placeholder="Web Site" required>
        </mat-form-field>
    </div>
    <div class="formBlock">
      <h1>Contact Details</h1>
      <mat-form-field class="example-full-width">      
        <input matInput type="text" class="form-control" formControlName="contactFirstName" placeholder="Contact First Name" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">      
        <input matInput type="text" class="form-control" formControlName="contactLastName" placeholder="Contact Last Name" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">      
        <input matInput type="text" class="form-control" formControlName="contactEmail" placeholder="Contact Email" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">      
        <input matInput type="text" class="form-control" formControlName="fixedPhone" placeholder="Fixed Phone" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">      
        <input matInput type="text" class="form-control" formControlName="mobilePhone" placeholder="Mobile Phone" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">      
        <input matInput type="text" class="form-control" formControlName="address.street" placeholder="Street - n°" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">      
        <input matInput type="text" class="form-control" formControlName="address.zip" placeholder="Zip Code" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">      
        <input matInput type="text" class="form-control" formControlName="address.city" placeholder="City" required>
      </mat-form-field>
      <mat-form-field class="example-full-width">      
        <input matInput type="text" class="form-control" formControlName="address.country" placeholder="Country" required>
      </mat-form-field>
    </div>

    <div class="picList">
        <h2>Your pictures</h2>
      <div class="picItem">&nbsp;</div>
      <div class="picItem">&nbsp;</div>
      <div class="picItem">&nbsp;</div>
      <div class="picItem">&nbsp;</div>
    </div>











    <mat-error *ngIf="msg"> {{msg}} </mat-error>

  </form>
</div>