
<form [formGroup]="userForm" (ngSubmit)="onRegister(userForm.value)">


      <div class="form-group">
        <label>First Name</label>
        <input type="text"
               class="form-control"
               formControlName="firstName"
               required>
      </div>

      <div class="form-group">
        <label>Last Name</label>
        <input type="text"
               class="form-control"
               formControlName="lastName"
               required>
      </div>



    <div class="form-group">
      <label>Email</label>
      <input type="email"
             class="form-control"
             formControlName="email"
             required>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password"
             class="form-control"
             formControlName="password"
             required>
    </div>

    <pre>{{userForm.value | json}}</pre>

    <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>


  </form>
