.registerForm {
  background: whitesmoke;
  width: 500px;
  margin: 30% 50%;
  padding: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  .example-full-width {
    width: 100%;
    margin: auto;
  }
  .example-full-width .mat-icon {
    position: absolute;
    left: -25px;
  }
  .close {
    border: none;
    float: right;
    cursor: pointer;
  }
}

.buttonSubscribe {
  transform: translate(-50%, -50%);
  margin: 30% 50%;
  font-size: 50px;
  padding: 50px;
  position: absolute;
}

.dialog {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .box_dialog {
    background: white;
    margin: 20% auto;
    width: 200px;
    height: 200px;
    padding: 70px 50px;
    border-radius: 200px;
    text-align: center;
    text-transform: capitalize;
  }
}
