<nav class="menuHeader">
  <div class="menuIcon">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>face</mat-icon>
        <span>Name</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>build</mat-icon>
        <span>New request</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Login</span>
      </button>
    </mat-menu>
  </div>

  <h1>Anthill</h1>
</nav>
